<a href="https://colab.research.google.com/github/allenanday/58002-OOP/blob/main/operations_and_expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [2]:
print(10>9)
print(10<9)
print(10==0)

True
False
False

In [4]:
a = 10  
b = 9  
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

Bool() function

In [7]:

print(bool("ana"))  
print(bool(0))
print(bool(None))
print(bool(1))

True
False
False
True

functions can return a boolean

In [21]:
def myFunction():
  return False

  print(myFunction())

In [20]:
def myFunction():
   return True 
if myFunction():
    print("Yes!")
else:
    print("No!")

Yes!

In [23]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

python operators

In [25]:
print(10%5)
print(10//3)  
print(10**2)

0
3
100

In [26]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)

15
5
50
2.0

In [27]:
a=60
b=13
a<<1

120

Phython Assignment Operators
x += 3                    #Same As X= X+3

In [29]:
 x = 1
 x+=3

print (x)

x = 1
x -=3
print(x)

4
-2

Logical Operators

In [34]:
x= True
y= False

print(x and y)
print(x or y)
print(not(x or y))

True
True
False

identify operators

In [35]:
print (x is y)
 x is not y

IndentationError: ignored

application 1 create an arithmetic calculator (MDAS)

In [ ]:
print("Basic Calculator (MDAS).")
print("Enter your first number: ")
x = int(input())
print("Enter your second number: ")
y = int(input())

print ("Answer: ")

print(x*y)
print(x/y)
print(x+y)
print(x-y)

Basic Calculator (MDAS).
Enter your first number: